Prepare for 2021b release

I received the time zone data update notice from IANA announcement mailing list on 21/9/25. 
Usually, the Android source code and binary files will be updated within a few weeks after IANA releases the time zone data update.

Please prepare for the release of Android binary 2021b time zone files.

For binary files of Android time zone files, see
https://android.googlesource.com/platform/system/timezone/+log/refs/heads/master/output_data/iana/tzdata

More specifically, the files needed to be updated include:
./output_data/version/tz_version
./output_data/iana/tzdata

<details>
<summary>[tz-announce] 2021b release of tz code and data available</summary>

> The 2021b release of the tz code and data is available.
>  
> Partly because it's been so long since 2021a, this release has many
> changes, noted below. In one area, noted "Merge more location-based
> Zones" below, the mailing list has had significant trouble coming to a
> long-term consensus. Because we should publish something before the
> Samoa change takes effect, this release contains just one step towards
> making tzdb fairer and more equitable in future releases.
>  
> This release reflects the following changes, which were either
> circulated on the tz mailing list or are relatively minor technical or
> administrative changes:
>  
>    Briefly:
>      Jordan now starts DST on February's last Thursday.
>      Samoa no longer observes DST.
>      Merge more location-based Zones whose timestamps agree since 1970.
>      Move some backward-compatibility links to 'backward'.
>      Rename Pacific/Enderbury to Pacific/Kanton.
>      Correct many pre-1993 transitions in Malawi, Portugal, etc.
>      zic now creates each output file or link atomically.
>      zic -L no longer omits the POSIX TZ string in its output.
>      zic fixes for truncation and leap second table expiration.
>      zic now follows POSIX for TZ strings using all-year DST.
>      Fix some localtime crashes and bugs in obscure cases.
>      zdump -v now outputs more-useful boundary cases.
>      tzfile.5 better matches a draft successor to RFC 8536.
>      A new file SECURITY.
>  
>    This release is prompted by recent announcements by Jordan and Samoa.
>    It incorporates many other changes that had accumulated since 2021a.
>    However, it omits most proposed changes that merged all Zones
>    agreeing since 1970, as concerns were raised about doing too many of
>    these changes at once.  It does keeps some of these changes in the
>    interest of making tzdb more equitable one step at a time; see
>    "Merge more location-based Zones" below.
>  
>    Changes to future timestamps
>  
>      Jordan now starts DST on February's last Thursday.
>      (Thanks to Steffen Thorsen.)
>  
>      Samoa no longer observes DST.  (Thanks to Geoffrey D. Bennett.)
>  
>    Changes to zone name
>  
>      Rename Pacific/Enderbury to Pacific/Kanton.  When we added
>      Enderbury in 1993, we did not know that it is uninhabited and that
>      Kanton (population two dozen) is the only inhabited location in
>      that timezone.  The old name is now a backward-compatility link.
>  
>    Changes to past timestamps
>  
>      Correct many pre-1993 transitions, fixing entries originally
>      derived from Shanks, Whitman, and Mundell.  The fixes include:
>        - Barbados: standard time was introduced in 1911, not 1932; and
> 	DST was observed in 1942-1944
>        - Cook Islands: In 1899 they switched from east to west of GMT,
> 	celebrating Christmas for two days.  They (and Niue) switched
> 	to standard time in 1952, not 1901.
>        - Guyana: corrected LMT for Georgetown; the introduction of
> 	standard time in 1911, not 1915; and corrections to 1975 and
> 	1992 transitions
>        - Kanton: uninhabited before 1937-08-31
>        - Niue: only observed -11:20 from 1952 through 1964, then went to
>          -11 instead of -11:30
>        - Portugal: DST was observed in 1950
>        - Tonga: corrected LMT; the introduction of standard time in 1945,
>          not 1901; and corrections to the transition from +12:20 to +13
>          in 1961, not 1941
>      Additional fixes to entries in the 'backzone' file include:
>        - Enderbury: inhabited only 1860/1885 and 1938-03-06/1942-02-09
>        - The Gambia: 1933 and 1942 transitions
>        - Malawi: several 1911 through 1925 transitions
>        - Sierra Leone: several 1913 through 1941 transitions, and DST
> 	was NOT observed in 1957 through 1962
>      (Thanks to P Chan, Michael Deckers, Alexander Krivenyshev and
>      Alois Treindl.)
>  
>      Merge more location-based Zones whose timestamps agree since 1970,
>      as pre-1970 timestamps are out of scope.  This is part of a
>      process that has been ongoing since 2013.  This does not affect
>      post-1970 timestamps, and timezone historians who build with 'make
>      PACKRATDATA=backzone' should see no changes to pre-1970 timestamps.
>      When merging, keep the most-populous location's data, and move
>      data for other locations to 'backzone' with a backward
>      link in 'backward'.  For example, move America/Creston data to
>      'backzone' with a link in 'backward' from America/Phoenix because
>      the two timezones' timestamps agree since 1970; this change
>      affects some pre-1968 timestamps in America/Creston because
>      Creston and Phoenix disagreed before 1968.  The affected Zones
>      are Africa/Accra, America/Atikokan, America/Blanc-Sablon,
>      America/Creston, America/Curacao, America/Nassau,
>      America/Port_of_Spain, Antarctica/DumontDUrville, and
>      Antarctica/Syowa.
>  
>    Changes to maintenance procedure
>  
>      The new file SECURITY covers how to report security-related bugs.
>  
>      Several backward-compatibility links have been moved to the
>      'backward' file.  These links, which range from Africa/Addis_Ababa
>      to Pacific/Saipan, are only for compatibility with now-obsolete
>      guidelines suggesting an entry for every ISO 3166 code.
>      The intercontinental convenience links Asia/Istanbul and
>      Europe/Nicosia have also been moved to 'backward'.
>  
>    Changes to code
>  
>      zic now creates each output file or link atomically,
>      possibly by creating a temporary file and then renaming it.
>      This avoids races where a TZ setting would temporarily stop
>      working while zic was installing a replacement file or link.
>  
>      zic -L no longer omits the POSIX TZ string in its output.
>      Starting with 2020a, zic -L truncated its output according to the
>      "Expires" directive or "#expires" comment in the leapseconds file.
>      The resulting TZif files omitted daylight saving transitions after
>      the leap second table expired, which led to far less-accurate
>      predictions of times after the expiry.  Although future timestamps
>      cannot be converted accurately in the presence of leap seconds, it
>      is more accurate to convert near-future timestamps with a few
>      seconds error than with an hour error, so zic -L no longer
>      truncates output in this way.
>  
>      Instead, when zic -L is given the "Expires" directive, it now
>      outputs the expiration by appending a no-change entry to the leap
>      second table.  Although this should work well with most TZif
>      readers, it does not conform to Internet RFC 8536 and some pickier
>      clients (including tzdb 2017c through 2021a) reject it, so
>      "Expires" directives are currently disabled by default.  To enable
>      them, set the EXPIRES_LINE Makefile variable.  If a TZif file uses
>      this new feature it is marked with a new TZif version number 4,
>      a format intended to be documented in a successor to RFC 8536.
>  
>      zic -L LEAPFILE -r @LO no longer generates an invalid TZif file
>      that omits leap second information for the range LO..B when LO
>      falls between two leap seconds A and B.  Instead, it generates a
>      TZif version 4 file that represents the previously-missing
>      information.
>  
>      The TZif reader now allows the leap second table to begin with a
>      correction other than -1 or +1, and to contain adjacent
>      transitions with equal corrections.  This supports TZif version 4.
>  
>      The TZif reader now lets leap seconds occur less than 28 days
>      apart.  This supports possible future TZif extensions.
>  
>      Fix bug that caused 'localtime' etc. to crash when TZ was
>      set to a all-year DST string like "EST5EDT4,0/0,J365/25" that does
>      not conform to POSIX but does conform to Internet RFC 8536.
>  
>      Fix another bug that caused 'localtime' etc. to crash when TZ was
>      set to a POSIX-conforming but unusual TZ string like
>      "EST5EDT4,0/0,J365/0", where almost all the year is DST.
>  
>      Fix yet another bug that caused 'localtime' etc. to mishandle slim
>      TZif files containing leap seconds after the last explicit
>      transition in the table, or when handling far-future timestamps
>      in slim TZif files lacking leap seconds.
>  
>      Fix localtime misbehavior involving positive leap seconds.
>      This change affects only behavior for "right" system time,
>      which contains leap seconds, and only if the UT offset is
>      not a multiple of 60 seconds when a positive leap second occurs.
>      (No such timezone exists in tzdb, luckily.)  Without the fix,
>      the timestamp was ambiguous during a positive leap second.
>      With the fix, any seconds occurring after a positive leap second
>      and within the same localtime minute are counted through 60, not
>      through 59; their UT offset (tm_gmtoff) is the same as before.
>      Here is how the fix affects timestamps in a timezone with UT
>      offset +01:23:45 (5025 seconds) and with a positive leap second at
>      1972-06-30 23:59:60 UTC (78796800):
>  
> 	time_t    without the fix      with the fix
> 	78796800  1972-07-01 01:23:45  1972-07-01 01:23:45 (leap second)
> 	78796801  1972-07-01 01:23:45  1972-07-01 01:23:46
> 	...
> 	78796815  1972-07-01 01:23:59  1972-07-01 01:23:60
> 	78796816  1972-07-01 01:24:00  1972-07-01 01:24:00
>  
>      Fix an unlikely bug that caused 'localtime' etc. to misbehave if
>      civil time changes a few seconds before time_t wraps around, when
>      leap seconds are enabled.
>  
>      Fix bug in zic -r; in some cases, the dummy time type after the
>      last time transition disagreed with the TZ string, contrary to
>      Internet RFC 8563 section 3.3.
>  
>      Fix a bug with 'zic -r @X' when X is a negative leap second that
>      has a nonnegative correction.  Without the fix, the output file
>      was truncated so that X appeared to be a positive leap second.
>      Fix a similar, even-less-likely bug when truncating at a positive
>      leap second that has a nonpositive correction.
>  
>      zic -r now reports an error if given rolling leap seconds, as this
>      usage has never generally worked and is evidently unused.
>  
>      zic now generates a POSIX-conforming TZ string for TZif files
>      where all-year DST is predicted for the indefinite future.
>      For example, for all-year Eastern Daylight Time, zic now generates
>      "XXX3EDT4,0/0,J365/23" where it previously generated
>      "EST5EDT,0/0,J365/25" or "".  (Thanks to Michael Deckers for
>      noting the possibility of POSIX conformance.)
>  
>      zic.c no longer requires sys/wait.h (thanks to spazmodius for
>      noting it wasn't needed).
>  
>      When reading slim TZif files, zdump no longer mishandles leap
>      seconds on the rare platforms where time_t counts leap seconds,
>      fixing a bug introduced in 2014g.
>  
>      zdump -v now outputs timestamps at boundaries of what localtime
>      and gmtime can represent, instead of the less-useful timestamps
>      one day after the minimum and one day before the maximum.
>      (Thanks to Arthur David Olson for prototype code, and to Manuela
>      Friedrich for debugging help.)
>  
>      zdump's -c and -t options are now consistently inclusive for the
>      lower time bound and exclusive for the upper.  Formerly they were
>      inconsistent.  (Confusion noted by Martin Burnicki.)
>  
>    Changes to build procedure
>  
>      You can now compile with -DHAVE_MALLOC_ERRNO=0 to port to
>      non-POSIX hosts where malloc doesn't set errno.
>      (Problem reported by Jan Engelhardt.)
>  
>    Changes to documentation
>  
>      tzfile.5 better matches a draft successor to RFC 8536
>      <https://datatracker.ietf.org/doc/draft-murchison-rfc8536bis/01/>.
>  
> Here are links to the release files:
>  
> https://www.iana.org/time-zones/repository/releases/tzcode2021b.tar.gz
> https://www.iana.org/time-zones/repository/releases/tzdata2021b.tar.gz
> https://www.iana.org/time-zones/repository/releases/tzdb-2021b.tar.lz
>  
> The following convenience links are also available, although they may
> point to the previous release until the relevant caches are refreshed:
>  
> https://www.iana.org/time-zones/repository/tzcode-latest.tar.gz
> https://www.iana.org/time-zones/repository/tzdata-latest.tar.gz
> https://www.iana.org/time-zones/repository/tzdb-latest.tar.lz
>  
> Links are also available via plain HTTP, and via FTP from
> ftp://ftp.iana.org/tz/releases with the same basenames as above.
>  
> Each release file has a GPG signature, which can be retrieved by
> appending ".asc" to the above URLs. Copies of these signatures are
> appended to this message.
>  
> This release corresponds to commit
> 9ffa3f6e5019dfa7cfb5c0e4e8a84fa95adec704 dated 2021-09-24 16:23:00 -0700
> and tagged '2021b' in the development GitHub repository at
> <https://github.com/eggert/tz>.
>  
> Here are the SHA-512 checksums for the release files:
>  
> 00fca7508cfbc42123065fe8087397c9dd2acbdda96f3bb0936187825348cf13538f1893f2d02bd8bfa3465427ca7a9a65451baffe39889bc58ba0a77a047806
>   tzcode2021b.tar.gz
> ca61d64af5ae791f337533c09d2b4f7caa645ecab7b9d13e9bcafc47c7c68535abe7c103c56bbd41d6bd913a8607f9c5187c8ce8a91b4891a750a643f89c8b51
>   tzdata2021b.tar.gz
> 326fb99666c8d5bb798a9c24d2869307620dce918d47fbedd7f765c91eb35ea44bf776f43cb00cde1944884150232ac6dcdc0194a0364e2d28f6470691cf9177
>   tzdb-2021b.tar.lz
>  
> Here are the GPG digital signatures for the release files:
>  
> -----BEGIN PGP SIGNATURE-----
>  
> iQIzBAABCgAdFiEEfjeSqdis99YzvBWI7ZfpDmKqfjQFAmFOX/wACgkQ7ZfpDmKq
> fjRKwA//RVH1mmf13Uz99KBQZMc/meVaYT1YSpMqilocZo1w+i+Omai7Aw/r9u1e
> lnwLQukqjpCH4TJWdq8VuloL5ojN1ImoZuIRYECWRHOShxMaS9DLkPRr4qA9Fxic
> hladneiIglVrnzQbG4pH0Vnu9Qakb6I+1um8lCNiJHng84y5KAOIcZu1m9O+A1F1
> bdik8Ddxc4qBluUvcq9n9aqWSgDBvIyCYik6bOo3lOd5zP1rcjSr8VJ+15cAkH4X
> hU/igj9qloyqAmoOyJOzIIwv63T3Xg63rH/V2hJWyux54ayP4Kt8nZqLYA9V8gFI
> V/HL5qNafSYEqguO2H3hTwURc3Utini8Oa2Ou89Ih0hkO+nySacc0ZnhaunmX7Ip
> D5Oj6A8kssG0Uj5fZqpqUp1FeRbziAinSdwTOpRxdkdeHI6tfS0XVnRvRiFATfTu
> oh9107e3okwKAb2UPJtr8Oev0uU8rz8+EorN9/PqJv0n2c3I69NUv6TudFVHM8uB
> lwG3hUNtWWYpK/rzwX8AQkwTrOHMN3VJ94T8xaTm13/jtk6R/+GgSjXKC2C9XZG6
> 5uvi6et06WnRVRO+V5TwnQdfY85pe5nqRDLeo0clxdkAvx6fslLpz9YNacLV/Gn8
> 0UIGt9CBKjE+PU1F5w+O/5btA/1aTojuSpKscdzgQIzXTfDlTZo=
> =+McC
> -----END PGP SIGNATURE-----
> -----BEGIN PGP SIGNATURE-----
>  
> iQIzBAABCgAdFiEEfjeSqdis99YzvBWI7ZfpDmKqfjQFAmFOX/0ACgkQ7ZfpDmKq
> fjRYmg/9H3rMpV7uQdd+G2K0wybdzTH6vJiNQClWE1+wqCPh/L3e8kCbPIjSo7MF
> SFV/Pu4EDb9kjeA2ruEMYlLnpg5nTP7dYfFRsRDcQJ5Yw70luNImm1ipUkKr9o5Q
> oQqYFKzxvB0G1rE+/gMaxmCHtGaJnv0DEChhmAS5U4j48z71Fn3+UJIU9XPEaODD
> U1Fw62xDsxIlFKjZ9UvilhlVRMnnP5nK9hjrsFKn7OGbxYvkdaRoK5f3M+G5nGXh
> L9nZcE0cd/7zhD3+wlttcH+xw3b+5P+7sxMhucoWQXEl3KyIklh97fi7jzHBHz+s
> DRYLZv/yPoEp94QyCfaYdvWL/i4OX4/9YnXK3ruXDcEV2y8Zl7Wc70Ihxk3I2XAb
> S4YeMcb30uls93QUdSmuhpEEUWrS5e45OnPy9RnT/VnpCalxsukudSNRzuvivKZn
> TsPpf90VUtI9ncLZ4l7OoNVXSj5pJ6DS+V1nCesEQyfyFnFvgK/rogCZ0yt+Cosp
> zaXwBtGyOWwWsGgXHGdJoiQqt/FF8o387EL95vpFr9BRSdSQoKd6K9RrRIH9fuy/
> nnpaksD86fx+WbdLMtbHzsZgCqL1RTGO+kc35Qlr3vqH02UAZiwC9l3DHS9SA01c
> MGDy9zaiLsL/8/lUV3AP31dEP1+DY+BXvdFhIJkmIceBUf7zl0E=
> =PO3W
> -----END PGP SIGNATURE-----
> -----BEGIN PGP SIGNATURE-----
>  
> iQIzBAABCgAdFiEEfjeSqdis99YzvBWI7ZfpDmKqfjQFAmFOX/4ACgkQ7ZfpDmKq
> fjSaPg//ZlKREhlxjnstpEl6W3x4sStpUrF/Kebp62txYoCjbK22EDnw4BbE0wFh
> BcIBGbfxioC2+1gAjG57LK0RzTqFPPuDA69qYIZFk+xLrREISDqrGHViLGkFEgm5
> jEDamuGW59UoBdnu4Klp1JAd7hvYQYEbbVaIVsrUlAL99OTyujeA6QoZdIjM43eh
> jx4g1P/XuHBqJEH7d9kOM5tBCRvgFhhcu/s4vOvrfFibRHRimYBuPlep5nJ88bb/
> UyCQ1oYIQucWtl+DOszICl/GTmuM33FMTeAX6OrlGxwON6KPI2qNzAaQVpK1apB/
> qF9dTnOVP8pygW6HkiFwNOKx4mplB2V8f1eqLT9mfdOQsEWPRuDyUvejBIr/Hmww
> jHF1w9TX8FxND2KQmcfZNTlKqYcw1O8Vz4m+0UnDzNuLiZAsnTBTrfnKMnVrTOFt
> 1K6KKK+v5y4WYu+pE36cIBM2YxITEpD+YrRr7G1ilzVgRH5FRGCJsxJu0O+BO35z
> rv9qVnJz0xISMJs+qSdJT8v4W4Uc6+crnHjAc7T7eAin3i3y/GY/MA44isCACmhx
> +Rq165laaHXnqTOgQfHhGjigJoH3JCnDYUwg6q+fMMBU2eALkOs+IbgdfVB3hoyo
> UOlYH/A25nuI0PrRgUKsN6N2lrfPjq3bM4twDw33BOyGJ/LN88w=
> =aNBd
> -----END PGP SIGNATURE-----
>  
> PS. If your tzdata parser does not yet support negative DST offsets or
> times past 24:00, or if it insists on a 'pacificnew' file that is no
> longer present, this release's data entries can be turned into a
> rearguard-format tarball that should work even with these older parsers.
> This is intended to be a temporary transition aid for these parsers. To
> generate a rearguard-format tarball, obtain the full distribution as
> described above, and run the command 'make rearguard_tarballs' on a
> development host. Or you can run 'make rearguard.zi' to generate a
> single file that can be fed directly to a parser that works like 'zic'.

</details>

I received the time zone data update notice from IANA announcement mailing list on 1/10/2021. 
Usually, the Android source code and binary files will be updated within a few weeks after IANA releases the time zone data update.

Please prepare for the release of Android binary 2021c time zone files.

For binary files of Android time zone files, see
https://android.googlesource.com/platform/system/timezone/+log/refs/heads/master/output_data/iana/tzdata

More specifically, the files needed to be updated include:
./output_data/version/tz_version
./output_data/iana/tzdata

<details>
<summary>[tz-announce] 2021c release of tz code and data available</summary>

> The 2021c release of the tz code and data is available.
>  
> This is a bugfix release that addresses compatibility problems reported
> since 2021b came out, notably those reported by Stephen Colebourne.
> Although this release doesn't address the deeper issues about
> maintenance philosophy and procedures (discussion of which is ongoing),
> it does merge in changes to address what Stephen reported was his
> primary problem with 2021b.
>  
> This release reflects the following changes, which were either
> circulated on the tz mailing list or are relatively minor technical or
> administrative changes:
>  
>    Briefly:
>      Revert most 2021b changes to 'backward'.
>      Fix 'zic -b fat' bug in pre-1970 32-bit data.
>      Fix two Link line typos.
>      Distribute SECURITY file.
>  
>      This release is intended as a bugfix release, to fix compatibility
>      problems and typos reported since 2021b was released.
>  
>    Changes to Link directives
>  
>      Revert almost all of 2021b's changes to the 'backward' file,
>      by moving Link directives back to where they were in 2021a.
>      Although 'zic' doesn't care which source file contains a Link
>      directive, some downstream uses ran into trouble with the move.
>      (Problem reported by Stephen Colebourne for Joda-Time.)
>  
>      Fix typo that linked Atlantic/Jan_Mayen to the wrong location
>      (problem reported by Chris Walton).
>  
>      Fix 'backzone' typo that linked America/Virgin to the wrong
>      location (problem reported by Michael Deckers).
>  
>    Changes to code
>  
>      Fix a bug in 'zic -b fat' that caused old timestamps to be
>      mishandled in 32-bit-only readers (problem reported by Daniel
>      Fischer).
>  
>    Changes to documentation
>  
>      Distribute the SECURITY file (problem reported by Andreas Radke).
>  
> Here are links to the release files:
>  
> https://www.iana.org/time-zones/repository/releases/tzcode2021c.tar.gz
> https://www.iana.org/time-zones/repository/releases/tzdata2021c.tar.gz
> https://www.iana.org/time-zones/repository/releases/tzdb-2021c.tar.lz
>  
> The following convenience links are also available, although they may
> point to the previous release until the relevant caches are refreshed:
>  
> https://www.iana.org/time-zones/repository/tzcode-latest.tar.gz
> https://www.iana.org/time-zones/repository/tzdata-latest.tar.gz
> https://www.iana.org/time-zones/repository/tzdb-latest.tar.lz
>  
> Links are also available via plain HTTP, and via FTP from
> ftp://ftp.iana.org/tz/releases with the same basenames as above.
>  
> Each release file has a GPG signature, which can be retrieved by
> appending ".asc" to the above URLs. Copies of these signatures are
> appended to this message.
>  
> This release corresponds to commit
> d2c79c4bc68c02b785990a6d4eb161770058078e dated 2021-10-01 14:21:49 -0700
> and tagged '2021c' in the development GitHub repository at
> <https://github.com/eggert/tz>.
>  
> Here are the SHA-512 checksums for the release files:
>  
> 9ed7677744058c58656b47d77d464bad6ef503f2892b53c6abe694e68e73fa123dfc5c11bbcbbb7798f0a6bf1da72b81f8f1c63670839b967e15e58d6d36adad
>   tzcode2021c.tar.gz
> e8de3a17c38f530b2ec39605699742dd32da5ee92ecf64accaaa5b012a1dac51d1f594adc52660602c3425016520346ab6ad614fa475eb310e17ccdcae93e6ca
>   tzdata2021c.tar.gz
> a6a86b5b84353c952eec6192222f95f348900dfb414f2dd205fa245515a0f240ba50eab83999f2a5c2cc8e3547406c111aacd96ff9043364d679c86a5e4b0794
>   tzdb-2021c.tar.lz
>  
> Here are the GPG digital signatures for the release files:
>  
> -----BEGIN PGP SIGNATURE-----
>  
> iQIzBAABCgAdFiEEfjeSqdis99YzvBWI7ZfpDmKqfjQFAmFXfJgACgkQ7ZfpDmKq
> fjReHA/+LiurpLRdXhwkSuhwUKlAQTKmry3F2/zFyobqi+EEEd7naiJIiQbIlScv
> aZ0cr6Tpq+oP0L8K0EaLMnz9vvb4qd7M3LLGOcrsML8/z0IigMBaA4c8L/Ep3ACa
> nsLTKESq6bYUJ2SbaFcCFx4KqwA8UEmfhzrPbNxeb3SVgrI1KwUWkpuTCOpewu+g
> ZYCVO7mFRhLuaD3wCbErtw9g7vQHyHGPGfTDHyc6lPrEbIaY1gwgl6GwBTmJD72a
> przvxg/0r0X+ZzHH9GZRQaWSDEGXYUdnIwrnS7zwDNk33WO3VwgLWiX2QMGJwiTe
> wPku4mnGkRhwQLzG+kJxpWe3DJ9/iKFVvxvS3/5RSN1mnELA6xcGOWMTL9cawlwo
> RkpyN3bLow/9u3wcW2QSrDhCTlGl5kUeK7Qbi20Rji9q2NIO0zrJ732pdr0PgyCN
> NeuO0YnHUW0bvGO7IMv0JfhQ+VbjB9yAzOg7D2bR2dSVm++38bR8umI757xU/6sT
> /CTIpmfP67FsXmtg98PbO6rEmoLr7Y/t+JYi/AwzvoHeFS5CAGs9xnTpdk+dBhjh
> wjLegKDtLZpIUppH9AkJ/T9MAVsfFpsLa2EnteF3LuYZhFTXzLJj3uo3l6Ji0eMZ
> RRy1jZAxnZ02EoLRIloezzST4pmxIurepluyzvTXVBBuXcoqDk4=
> =S2t+
> -----END PGP SIGNATURE-----
> -----BEGIN PGP SIGNATURE-----
>  
> iQIzBAABCgAdFiEEfjeSqdis99YzvBWI7ZfpDmKqfjQFAmFXfJgACgkQ7ZfpDmKq
> fjR/9g/+LOFIZC6n1xKEMn95PsJx2e+zQ4m2/MG1L1KKZdR6kYnvQHL3hh+dXLdr
> cKRoB6k4AZDaCl7NZDZ8iKgm0nrXnG4/dVEfVOeJn9VHdRyYZ4sg68Nij0yHheRN
> fcX/ikKwmVaszwj8t+zTmetZOxlJi1mdLyZaQYgBZuM+8Aj+AnB3QUT00yP3j5xP
> lZgAToYXyLg8KweHnCuD41ZzU8AmsUU2GSfbTryez5lSGnhTsI+tNFtk5w+2fWZZ
> C0ZAskT//F2k6viFBozeBoodTs955mPKuzyWte6WyhQOTVUySuaeeAU7Dc9SK1k2
> nNMTDeQyR78CL39D/X0qmINAif9YKqQ1k0fJFHH1K+pSbhtw0TaqZarQ7JRQnZpC
> XSIJ9PwpuLLb4k0pBUWYS+r1bZDWrymmgvDO4uNFRFC8LWR4pKyWZ8k34IYQndaV
> otWbBcThgyz8JJk5mrf113j7qQ3AYiC/y1lVtBpCXpOy1LzYGSTDUqUoHeib8ToD
> Q3wD1UTPPlo1nh47+cx/Fq1MasdB4MF/OwX7w33nV7TbYgNOHHjb5ROgf7unbaqM
> 96rtJDRFXFnnPtDOES3xtF4IEEXeoqx1q6AEEcEBBmkCc+DQk5AvW64JwluKn4b1
> XSDP7AuXex+wJKffa/7I2KyNLNiX8aLQcnvVsD9cqV4hComR3O8=
> =LtLe
> -----END PGP SIGNATURE-----
> -----BEGIN PGP SIGNATURE-----
>  
> iQIzBAABCgAdFiEEfjeSqdis99YzvBWI7ZfpDmKqfjQFAmFXfJoACgkQ7ZfpDmKq
> fjTWQA/9Geo9i7m1YlBbU6xJQFyT2AVTTeCgA3wnQOc7VXj5Sy8/7JBU/AJW4Vmi
> iaTE+XZJU8ghslbdwkyEwoFcZ+4dT8qtjIDSaJ989LV8zpL0MPjgQPdYnh9egaGo
> qUQBXBcBzzK6giDut7vYcldf5YbK8AAv/ApvVyqL9JjdjbE2P3/juPAHUBUTxHIl
> bGrnRKbXIeqHB2MGgNZcby4HyblR+BCue3r9kN7Jq0kzETHG8UDeEDeHpL9x9DIq
> QIYpCiiuMvT7FZR4vNlQg5oBm6Tjz47BEWlvpDQcZHSAgXVrMOTds7uameG72DRW
> TtEGbozg2LQS3RKHn9mN0GK505d/qiSgrR/AoP420g6xa7d49Orz5qTcE4hUUqQ6
> /YA2/3LqqCXeNep/BjwDvsvSTN8TKF4y0iF26Ie2BWRCnI377tT/76NncWaXRT3f
> k4X2qdIu/6EGle9kleanIZvet3/yavwpOXpgjcMPBwa1RoZDcH2/YSTd0uFhBXLw
> FTgJ2LKU1d7HVn5VR3t0z1ltjTjv5kjAt+/E/xdANN/vY27ef6yOMp9Mq4z3Pp9Y
> cUtwwM0aXchlCcomOhoKOShW/j8hFFlIX3pEEAQOhvDS4t7zw0x18+737Fi5diY6
> 5GUcyKs0sgIkGcAco1qZXd6vvR61ekq7rgMANpi8g9H5igjt5TM=
> =23yb
> -----END PGP SIGNATURE-----
>  
> PS. If your tzdata parser does not yet support negative DST offsets or
> times past 24:00, or if it insists on a 'pacificnew' file that is no
> longer present, this release's data entries can be turned into a
> rearguard-format tarball that should work even with these older parsers.
> This is intended to be a temporary transition aid for these parsers. To
> generate a rearguard-format tarball, obtain the full distribution as
> described above, and run the command 'make rearguard_tarballs' on a
> development host. Or you can run 'make rearguard.zi' to generate a
> single file that can be fed directly to a parser that works like 'zic'.

</details>

Android binary files of time zone data has been updated on Google Git.

> Update Android TZDB from 2021a to 2021a1. by Almaz Mingaleev · 13 hours ago master

https://android.googlesource.com/platform/system/timezone/+/a27590720d6f5ec8a3f97f0eb8cf661aa2d36935

```
Update Android TZDB from 2021a to 2021a1.

Notes for Android time zone maintainers:
Like all tzdb updates, the binary files in this commit should not be
patched to other release branches: they are not guaranteed to work.
Also note that there are associated changes in external/icu and often
others that should also be applied.  tzdb updates are incremental
changes: all previous tzdb updates should be applied.  Look for
aosp/<release>-dev changes for backports. If you have a local branch
with ICU changes the ICU .dat file in external/icu will not apply
cleanly.  Instead, make equivalent changes to text files and run
system/timezone/update-tzdata.py.

-------

This release is different from previous ones - decision was made to not
take some TZDB changes. Please see RELEASE_NOTES.md file.

Applied changes from IANA TZDB 2021b release:
  Briefly:
        Samoa no longer observes DST.
        Jordan now starts DST on February's last Thursday.

RELEASE_NOTES has list of all cherry-picked time zone
changes.

Bug: 201301255
Test: CtsLibcoreTestCases
Test: CtsLibcoreOjTestCases
Test: CtsIcuTestCases
Test: CtsBionicTestCases
Test: CtsTextTestCases
Test: Verified version and revisiion by running 'adb shell
dumpsys runtime'
Test: flashed device and checked in time zone picker that
there is no DST for Pacific/Apia.
Test: Did the same for Jordan.

Change-Id: Ibde4bb6eabdd5f2a10792c52d54b8fea400d9a81
Merged-In: Ibde4bb6eabdd5f2a10792c52d54b8fea400d9a81
```

Android binary files of time zone data has been updated on Google Git.

> Bump zic version to 2021d. by Almaz Mingaleev · 4 days ago master

https://android.googlesource.com/platform/system/timezone/+/7ce538920b9bf585293e81e426250dbd8d052769

> This commit updates the IANA tzcode binary used on host to generate the
> tzdata (TZif archive) file used on Android by bionic and the
> java.util.TimeZone implementation. This update does not alter the code
> used on the device at runtime, though changes to the content of the file
> can affect device behavior.
> 
> Note: There are third party time zone libraries that utilize the tzdata
> file, but these are not supported by the Android platform team.
> 
> This commit should not be backported to earlier Android releases unless
> later bug fixes rely on it, as it may affect behavior / app
> compatibility.
> 
> Notes for Android time zone maintainers:
> Like tzdb updates, the binary files in this commit should not be patched
> to other release branches: they are not guaranteed to work.
> 
> According to dump-tzdata.py there were 2 types of changes:
>   1) Some time zones had extra no-effect time transition entry. In case
>   of Europe/London there was 1996-01-01T00:00:00 transition, which
>   corresponds to 'GB-Eire' -> 'EU' switch in zone rules [1]
> 
>   2) isutcnt/isstdcnt are set to 0 if values in standard/wall / UT/local
>   indicators were all zeros. Specification allows that [2].
>   I've checked few time zone files manually to verify that.
>   ZoneInfoData does not read them, so this change should not affect
>   libcore.
> 
> Also, by default slim TZif files are generated, so '-b fat' option was
> passed to zic.


---
Meanwhile, 

> [tz-announce] 2021e release of tz code and data available


> The 2021e release of the tz code and data is available.
>  
> This release reflects the following changes:
>  
>    Changes to future timestamps
>  
>      Palestine will fall back 10-29 (not 10-30) at 01:00.
>      (Thanks to P Chan and Heba Hemad.)








[tz-announce] 2022a release of tz code and data available

---

> The 2022a release of the tz code and data is available.
>  
> This release reflects the following changes:
>  
>    Briefly:
>      Palestine will spring forward on 2022-03-27, not -03-26.
>      zdump -v now outputs better failure indications.
>      Bug fixes for code that reads corrupted TZif data.
>  
>    Changes to future timestamps
>  
>      Palestine will spring forward on 2022-03-27, not 2022-03-26.
>      (Thanks to Heba Hamad.)  Predict future transitions for first
>      Sunday >= March 25.  Additionally, predict fallbacks to be the first
>      Friday on or after October 23, not October's last Friday, to be more
>      consistent with recent practice.  The first differing fallback
>      prediction is on 2025-10-24, not 2025-10-31.
>  
>    Changes to past timestamps
>  
>      From 1992 through spring 1996, Ukraine's DST transitions were at
>      02:00 standard time, not at 01:00 UTC.  (Thanks to Alois Treindl.)
>  
>      Chile's Santiago Mean Time and its LMT precursor have been adjusted
>      eastward by 1 second to align with past and present law.
>  
>    Changes to commentary
>  
>      Add several references for Chile's 1946/1947 transitions, some of
>      which only affected portions of the country.
>  
>    Changes to code
>  
>      Fix bug when mktime gets confused by truncated TZif files with
>      unspecified local time.  (Problem reported by Almaz Mingaleev.)
>  
>      Fix bug when 32-bit time_t code reads malformed 64-bit TZif data.
>      (Problem reported by Christos Zoulas.)
>  
>      When reading a version 2 or later TZif file, the TZif reader now
>      validates the version 1 header and data block only enough to skip
>      over them, as recommended by RFC 8536 section 4.  Also, the TZif
>      reader no longer mistakenly attempts to parse a version 1 TZIf
>      file header as a TZ string.
>  
>      zdump -v now outputs "(localtime failed)" and "(gmtime failed)"
>      when local time and UT cannot be determined for a timestamp.
>  
>    Changes to build procedure
>  
>      Distribution tarballs now use standard POSIX.1-1988 ustar format
>      instead of GNU format.  Although the formats are almost identical
>      for these tarballs, ustar headers' magic fields contain "ustar"
>      instead of "ustar ", and their version fields contain "00" instead
>      of " ".  The two formats are planned to diverge more significantly
>      for tzdb releases after 2242-03-16 12:56:31 UTC, when the ustar
>      format becomes obsolete and the tarballs switch to pax format, an
>      extension of ustar.  For details about these formats, please see
>      "pax - portable archive interchange", IEEE Std 1003.1-2017,

Since this repo is no longer active, I'll stop following the tzdata update status.

Is there any way to update my android 7.1 tzdata?
My country has changed DST rules :|